*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;    
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
}

body {
    background:url(../archivos/Firewatch-4K-Wallpaper-2.jpg);

}

    .contenidoInicio{
    color: #fff;
    background: url();
    background: rgba(0,0,1,.7);
    margin-left: 30em;
    margin-top: 8em;
    padding: 5em;
    border: 3px solid #fff;
    border-radius: 35px 35px 35px 35px;
    width: 50%;
   


}
.finInicio{
    margin-top:2em;
}
.finInicio p{
    margin-top: 2em;
}
.form-group input{
    width:50% ;
    margin-left: 11em;
}
.form-group label{
    margin-left: 11em;
}

.contenedor-form{
    position: relative;
    background: rgba(0,0,0,.7);
    width:100%;
    max-width: 500px;
    margin: 28px auto;
    color: #FFF;
    border-radius: 5px;
    margin-top: 140px

    /*    padding: 40px;*/

}
.avatar{
    width:150px ;
    height:150px ;
    border-radius:50% ;
    border:2px solid #008000; 
    position: absolute;
    top: -75px;
    left: calc(50% - 50px);
        
}

.contenedor-form .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid  #FFC300;   
    border-bottom:2px solid #FFC300;  
    transition: all .5s ease;
    cursor: pointer;
}

.contenedor-form .toggle span{
    letter-spacing: 1px;   
}

.contenedor-form .toggle:hover{
    border-top: 2px solid #0075D9;   
    border-bottom: 2px solid #0075D9;   
}

.contenedor-form h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"],
.contenedor-form select[name="Genero"]{
    outline: none;
    background: rgba(0,0,0,.5);
    display:block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #FFC300;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;


}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus,
.contenedor-form select[name="Genero"]:focus{
    border-bottom: 4px solid #0075D9;
    transition: all .5s ease;
}
.contenedor-form input[type="submit"]{
    background: rgba(0,128,0,.5);
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover{
    background: rgba(0,117,217,0.7);

}
.contenedor-form .reset-password{
    background: rgba(0,128,0,.6);
    color: #fff;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.contenedor-form .reset-password a{
    color: #fff;
    text-decoration: none; 
    font-size: 16px;
}

.contenedor-form .formulario{
    padding: 20px;
    display: none;
}

.contenedor-form .formulario:nth-child(2){
    display: block;
}

footer .contenedor{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
h2 {
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color: #fff;
    text-decoration: none;
}

@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}


